################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Comisionesv2/PruebasSPEntityWeb/obj/Debug
/Comisionesv2/EncriptaConexionesEmpresas/bin/Debug
/Comisionesv2/.vs/OneCoreComisiones/v15/sqlite3
/Comisionesv2/.vs/OneCoreComisiones/v15
/Comisionesv2/EncriptaConexionesEmpresas/obj/Debug
/Comisionesv2/OneCoreData/obj/Debug
/Comisionesv2/WebApplication1/obj/Debug
/Comisionesv2/WebApplication1/bin
