<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="connections.config">
    <add name="ELIEntities" connectionString="metadata=res://*/DataModelELI.csdl|res://*/DataModelELI.ssdl|res://*/DataModelELI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.248.45.6;initial catalog=ELI;persist security info=True;user id=savrz;password=des159$llo;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMISIONESEntities" connectionString="metadata=res://*/DataModelComisiones.csdl|res://*/DataModelComisiones.ssdl|res://*/DataModelComisiones.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.248.45.6;initial catalog=COMISIONES;user id=savrz;password=des159$llo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VERTICAL_V2Entities" connectionString="metadata=res://*/DataModelVertical.csdl|res://*/DataModelVertical.ssdl|res://*/DataModelVertical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.248.45.6;initial catalog=VERTICAL_V2;user id=savrz;password=des159$llo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EILOEntities" connectionString="metadata=res://*/DataModelEILO.csdl|res://*/DataModelEILO.ssdl|res://*/DataModelEILO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.248.45.6;initial catalog=EILO;persist security info=True;user id=savrz;password=des159$llo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RPFEntities" connectionString="metadata=res://*/DataModelRPF.csdl|res://*/DataModelRPF.ssdl|res://*/DataModelRPF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.248.45.6;initial catalog=RPF;persist security info=True;user id=savrz;password=des159$llo;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>