<connectionStrings>
  <add name="ELIEntities" connectionString="metadata=res://*/DataModelELI.csdl|res://*/DataModelELI.ssdl|res://*/DataModelELI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.248.45.6;initial catalog=ELI;persist security info=True;user id=sa;password=Linemex10;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="COMISIONESEntities" connectionString="metadata=res://*/DataModelComisiones.csdl|res://*/DataModelComisiones.ssdl|res://*/DataModelComisiones.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.248.45.6;initial catalog=COMISIONES;persist security info=True;user id=sa;password=Linemex10;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="Vertical_V2Entities" connectionString="metadata=res://*/DataModelVertical.csdl|res://*/DataModelVertical.ssdl|res://*/DataModelVertical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.248.45.6;initial catalog=Vertical_V2;user id=sa;password=Linemex10;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>